@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

:root {
  --ff-sans: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI",
    "Liberation Sans", sans-serif;
  --ff-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --ff-mono: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono",
    Menlo, Monaco, Consolas, monospace;
  --theme-post-title-font-family: var(--ff-sans);
  --theme-body-font-family: var(--ff-sans);
  --theme-post-body-font-family: var(--ff-sans);
  height: 100%;
  min-height: max-content;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
ol,
ul {
  list-style: none;
}
em {
  font-size: normal;
}
img {
  vertical-align: top;
  outline: none;
}
input,
select,
textarea,
button {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
textarea {
  resize: none;
}
::placeholder {
  font: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  background: none;
}
a:active {
  background: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  padding-top: 50px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
